:root {
  --font-family: "Mitr", sans-serif;
}

body {
  padding: 5% 10%;
}

span,
p,
h3 {
  font-weight: 200;
  font-family: var(--font-family);
}

a {
  color: #59a3c8;
  text-decoration: wavy;
}

h3 {
  font-weight: 700;
  display: inline;
  font-size: 30px;
  line-height: 50px;
  color: lightslategray;
  opacity: 0.5;
  letter-spacing: 6px;
}

h3:before {
  content: attr(data-title);
  color: #59a3c8;
  position: absolute;
  transform: translate(7px, -3px);
  z-index: -1;
  opacity: 0.5;
  width: 40vw;
}
h3:hover {
  opacity: 1;
  color: #59a3c8;
}

/* Header */
header.masthead {
  margin-bottom: 10em;
}

.profile {
  width: 200px;
  border-radius: 200px;
  float: left;
  margin-right: 5%;
}

.intro-text p {
  font-size: 25px;
  font-weight: 100;
}

hr {
  color: #333b3e;
}

.clear {
  clear: both;
}

/* Project container */
.project-container {
  padding: 4em 0;
  margin-bottom: 8px;
  transition: all ease-in 100ms;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

img {
  width: 350px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff;
  transition: border-color linear 100ms;
}
img:hover {
  border-color: #59a3c8;
}

#fire-risk img,
#treatment-bottleneck img,
#coronavirus-map img,
#coronavirus-hotspots img,
#egg-freezing img {
  width: 450px;
}

.details {
  margin: 20px 0 10px;
  text-align: left;
  width: 40vw;
}

.walkthrough:nth-of-type(odd) .details {
  margin: 400px 0 0 4em;
}
.walkthrough:nth-of-type(even) .details {
  margin: 400px 4em 0 0;
}

.list:nth-of-type(odd) .details {
  margin: 200px 0 0 4em;
}
.list:nth-of-type(even) .details {
  margin: 200px 4em 0 0;
}

.details p {
  font-size: 25px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  padding-right: 10px;
}

/* For listed projects */
.project-container.list .details img {
  float: none;
  /* display: block; */
  margin: auto;
  padding: 10px;
  vertical-align: top;
}
.project-container.list span {
  padding-left: 10px;
}

/* MOBILE */
@media screen and (max-width: 700px) {
  .intro-text p {
    font-size: 20px;
  }

  .project-container {
    flex-direction: column !important;
    margin-bottom: 8em;
  }

  h3 {
    width: 100%;
    line-height: 40px;
  }
  h3::before {
    width: 77%;
  }

  img {
    width: 100% !important;
    min-width: 300px;
  }

  .details {
    width: 100%;
    margin: 4em 0 !important;
  }

  .details p {
    font-size: 20px;
  }
}
